<form action="">
  <div class="form-group">
    <label for="">Options</label>
    <div class="toggle">
      <input type="checkbox" name="lower" id="lower" {{checked lower}}>
      <label for="lower">a-z</label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="upper" id="upper" {{checked upper}}>
      <label for="upper">A-Z</label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="numbers" id="numbers" {{checked numbers}}>
      <label for="numbers">0-9</label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="symbols" id="symbols" {{checked symbols}}>
      <label for="symbols">-\%</label>
    </div>
  </div>

  <div class="form-group">
    <label for="length">Length</label>
    <input type="number" name="length" id="length" class="form-control" value="{{length}}">
  </div>
</form>

<div class="placeholder-passphrase"></div>

<a href="#" class="reset-settings">Reset</a>
