<form action="">
  <div class="form-group">
    <label for="">Options</label>
    <div class="toggle">
      <input type="checkbox" name="lower" id="lower" {{checked lower}}>
      <label for="lower">
        Lowercase
        <i class="fa {{settingsIcon lower}} fa-lg pull-right"></i>
      </label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="upper" id="upper" {{checked upper}}>
      <label for="upper">
        Uppercase
        <i class="fa {{settingsIcon upper}} fa-lg pull-right"></i>
      </label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="number" id="number" {{checked number}}>
      <label for="number">
        Numbers
        <i class="fa {{settingsIcon number}} fa-lg pull-right"></i>
      </label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="dash" id="dash" {{checked dash}}>
      <label for="dash">
        Dashes & underscore
        <i class="fa {{settingsIcon dash}} fa-lg pull-right"></i>
      </label>
    </div>

    <div class="toggle">
      <input type="checkbox" name="symbol" id="symbol" {{checked symbol}}>
      <label for="symbol">
        Symbols
        <i class="fa {{settingsIcon symbol}} fa-lg pull-right"></i>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="length">Length</label>
    <input type="number" name="length" id="length" class="form-control" value="{{length}}">
  </div>

  <div class="form-group">
    <label for="key">Key</label>
    <input type="text" name="key" id="key" class="form-control" value="{{key}}" autocomplete="off" autocorrect="off">
    <small class="help-block">
      This key was made for you. Keep it safe&mdash;you'll need it generate the same passwords.
    </small>
  </div>
</form>

<div class="placeholder-passphrase"></div>

<div class="danger-zone">
  <a href="#" class="btn btn-link reset-settings" title="Reset all settings except for key and phrase">
    Reset settings
  </a><br>
  {{#if dropbox_auth}}
    <a href="#" class="btn btn-link btn-link-danger clear-data">Clear Dropbox data</a><br>
  {{else}}
    <a href="#" class="btn btn-link btn-link-danger clear-data">Clear local data</a><br>
  {{/if}}
</div>
