<div class="toggle">
  <input type="checkbox" name="{{name}}" id="{{name}}" {{attr.checked}} value="1">
  <label for="{{name}}">
    {{label}}

    <i class="fa {{toggleClass}} fa-lg pull-right"></i>
  </label>
</div>
